@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: Roboto; 
    font-weight: 300;
}

html{
    margin: 0;
    padding: 0;
}

nav{
    font-weight: 700!important;
}

#whiffPageLogo{
    fill:rgb(67, 112, 112);
    height: 4em;
}

#cartas{
    width: 100%;
}

.oculto{
    display:none
}

#carrito {
    img{
        width: 30vw;
        display: flex;
    }
}


